body {
  /* background-image: url('Background-Image.jpg');
  /* background-size: 100vw, 100vh; */
  background-color: #393e41;
  color: #f7ebec;
  margin: 0px;
}

h1 {
  color: #f7ebec;
  text-align: center;
  font-weight: bold;
}

.about-img img {
  box-sizing: border-box;
  position: center;
  height: 25%;
  width: 25%;
  border-radius: 20%;
}

.intro {
  color: #f7ebec;
  text-align: center;
}

.intro p {
  font-size: 18px;
  width: 1000px;
  margin: 0 auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.click-me {
  font-size: 18px;
  color: #f7ebec;
  background-color: #393e41;
  border: none;
  padding: 5px;
  border-radius: 50%;
}

.click-me a {
  text-decoration: underline;
  color: #f7ebec;
}

.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.4s;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 13px;
  font-size: 16px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  z-index: 3;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  float: left;
  background-color: transparent;
  color: #f7ebec;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #f7ebec;
  font-size: 13px;
  font-weight: bold;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.active {
  background-color: #264653;
}

.navbar a:hover {
  background-color: #000;
}

/* This is All My Styling For My Blogs HTML */
.blogs {
  color: #f7ebec;
  text-align: center;
}

.container {
  text-align: center;
}

.button1,
.button2 {
  font-size: 12px;
  text-align: center;
  /* color: #f7ebec;
  width: 10vw;
  height: 10vh; */
  background-color: transparent;
  border: none;
  padding: 5px;
  border-radius: 15%;
}

.button1,
.button2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.button1,
.button2,
a {
  text-decoration: none;
  color: #f7ebec;
}

/* .button2 a {
  text-decoration: none;
  color: #393e41;
} */
/* This is the Stylesheet for Te-Houtaewa */
.box {
  text-align: center;
}

.content {
  grid-column: 2; /* content is placed in the middle column */
  text-align: center;
}

/* Margin-Border HTML */
.container {
  display: block;
  /* margin-left: 20vw;
  margin-right: 30vw; */
  text-align: center;
}

.container p {
  width: 1000px;
  margin: 0 auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* Learning Plan CSS */
/* .container1 p { 
  text-align: center;
  width: 1000px;
  margin: auto;
} */

.changeFont {
  font-size: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .intro p {
    font-size: 18px;
    width: 100%;
    margin: 0 auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .about-img img {
    width: 40%;
    height: 40%;
  }

  .dropdown-content {
    background-color: #393e41;
  }
  .navbar a {
    float: none;
    display: block;
  }

  .box {
    text-align: center;
  }

  .button1,
  .button2 {
    font-size: 12px;
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 5px;
    border-radius: 15%;
  }
  h1 {
    text-align: center;
    width: 100%;
  }
  .changeFont {
    font-size: 18px;
    width: 100%;
  }

  /* Margin-Border HTML */
  .container {
    display: block;
    text-align: center;
  }
  .container img {
    width: 100%;
  }
  .container p {
    width: 100%;
    text-align: center;
    margin: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .container1 h1 {
    margin: auto;
  }
}
